.about {
  background-color: #fff;
  padding: 1rem 3rem;
}

.about__intro {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  margin: 0 auto;
}

.about__paragraph {
  margin-bottom: 10px;
}

.about__paragraph a {
  color: hsl(220, 69%, 61%);
}

.about__img {
  width: 300px;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
}

.about__btn {
  display: flex;
  justify-content: center;
}

.btn-about {
  display: inline-block;
  font-family: inherit;
  background-color: hsl(220, 69%, 61%);
  color: #fff;
  padding: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-about:hover {
  background-color: hsl(220, 57%, 53%);
}

@keyframes slide-in-right {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 768px) {
  .about__content {
    grid-template-columns: 1fr;
  }

  .about-img__container {
    margin: 0 auto;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
