/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.logo {
  margin-top: 0.3rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  /* position: relative; */
}

.navbar.active {
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.navbar.active li a {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.ab-logo {
  width: 3.75rem;
  border-radius: 1rem;
  /* border: 2px solid black; */
}

.ab-logo:hover {
  cursor: pointer;
  opacity: 0.9;
}

.new-nav__links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.new-nav__links li a {
  color: black;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.new-nav__links li a:hover {
  /* opacity: 0.9; */
  color: hsl(220, 69%, 61%);
  /* transition: all 0.2s; */
}

.new-nav-active {
  transform: translateX(0);
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: hsl(220, 69%, 61%);
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

.burg-active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: all 0.5s ease-in;
}

.burg-active .line2 {
  opacity: 0;
  transition: all 0.5s ease-in;
}

.burg-active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: all 0.5s ease-in;
}

/* On screens smaller than 768px */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .new-nav__links {
    position: absolute;
    right: 0px;
    height: 92vh;

    /* top: 83.7px; */
    top: 86.6px;
    background-color: hsl(220, 69%, 61%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.65s ease-in;
  }

  .new-nav__links-active {
    transform: translateX(0);
  }

  .new-nav__links-active li a {
    color: #fff;
    /* transition: all 0.5s ease-in; */
  }

  .new-nav__links li a:hover {
    color: #fff;
    opacity: 0.7;
  }

  .burger {
    display: block;
  }

  .navbar {
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
