.skills {
  background-color: #f5f5f5;
  padding: 1rem 3rem;
}

.icons-flex-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 3rem;
  margin: 0 auto;
  max-width: 800px;
  justify-content: space-around;
}

.icons-flex-container h4 {
  text-align: center;
  color: #616161;
}

@media screen and (max-width: 768px) {
  .custom-icon {
    font-size: 0.75rem;
  }
}
